<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Scale</string>
			<key>Key</key>
			<string>scale</string>
			<key>DefaultValue</key>
			<string>1/3-1-3</string>
			<key>Titles</key>
			<array>
				<string>1-2-5 Series</string>
				<string>1/3-1-3 Series</string>
			</array>
			<key>Values</key>
			<array>
				<string>1-2-5</string>
				<string>1/3-1-3</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
